body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.header p {
    font-size: 16px; /* Ajusta al tamaño deseado para la legibilidad */
    margin-top: 5px; /* Espacio reducido sobre el párrafo para compactar */
    margin-bottom: 5px; /* Espacio reducido debajo del párrafo */
    max-width: 800px; /* Limita el ancho del párrafo para mejor lectura */
    text-align: center; /* Alinea el texto al centro */
    line-height: 1.4; /* Ajusta el interlineado para mejor legibilidad */
    padding: 0 20px; /* Padding horizontal para no tocar los bordes del contenedor */
}


.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    width: 100%;
}

.input-section, .description-section, .navigation-section, .results-section, .introduction-section {
    width: 70%;
    max-width: 800px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
}

.button-container {
    width: 70%;
    max-width: 800px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.right-button {
    align-self: flex-end;
}

.enable-link {
    font-size: 12px;
    color: red;
    text-decoration: underline;
    display: none;
    margin-bottom: 5px;
}

.enabled-message {
    font-size: 12px;
    color: green;
    margin: 0 0 5px 0;
    max-width: 70%;
}

ol {
    padding-left: 20px;
    list-style-type: decimal;
    margin: 0;
    line-height: 1.4; /* Reduce el interlineado */
}

li {
    padding: 5px 0; /* Reduce el espacio entre los elementos de la lista */
}

a {
    color: #0077cc;
    text-decoration: none;
    display: inline;
}

a:hover {
    text-decoration: underline;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    width: 100%;
}

footer a {
    color: #1E90FF;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Estilos base para los títulos */
.category-title {
    color: #569cd6; /* Azul, para los títulos */
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 2px; /* Espacio reducido debajo de los títulos */
}

/* Estilos para el contenido normal */
.category-content {
    margin-left: 20px; /* Alineación con las respuestas de ChatGPT */
    color: #cccccc; /* Gris claro para el contenido */
}

/* Estilos específicos para las respuestas de ChatGPT */
.chatgpt-response {
    padding-left: 20px; /* Indentación para destacar las respuestas */
    color: #00ff55; /* Verde claro estilo terminal */
    font-family: 'Courier New', Courier, monospace; /* Fuente monoespaciada para un look de terminal */
}

/* Estilos para la salida de código, como bloques de código o ejemplos de código */
.code-output {
    background-color: #1e1e1e; /* Fondo oscuro para bloques de código */
    color: #dcdcdc; /* Texto en gris claro para alta legibilidad */
    font-family: 'Courier New', Courier, monospace; /* Consistencia de fuente con otras áreas de estilo terminal */
    padding: 20px; /* Acolchado generoso para una buena separación del contenido */
    border-radius: 5px; /* Bordes redondeados para una apariencia suavizada */
    overflow-x: auto; /* Manejo de desbordamiento horizontal para código largo */
}

.item-descriptions-container {
    font-size: 0.9em; /* Fuente más pequeña para descripciones de ítems */
}

.item-description {
    font-style: italic; /* Estilo cursive para simular una cita */
    margin-bottom: 10px; /* Espacio entre descripciones */
}


.error-message {
    color: #ff6c6b;
    font-weight: bold;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

button.right-button {
    white-space: nowrap;
}


.button-container {
    margin: 20px 0;
    display: flex;
    justify-content: flex-start; /* Alinea los botones a la izquierda */
    width: auto; /* Elimina cualquier restricción de ancho previa */
}

.custom-file-upload {
    display: block;
    padding: 8px 16px;  /* Mantiene el padding uniforme */
    margin: 20px 0; /* Margen superior e inferior para separación */
    background-color: #4CAF50; /* Color verde para acción principal */
    color: white;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    width: auto; /* Ajuste automático al contenido del botón para no dominar */
    max-width: 300px; /* Limita el ancho máximo para que no sea demasiado extenso */
}
.custom-file-upload input[type="file"] {
    display: none;
}

button {
    padding: 8px 16px; /* Reduce el padding para hacerlos menos gruesos */
    background-color: #0077cc; /* Color azul para descargas */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px; /* Asegura un pequeño espacio solo a la derecha */
}

textarea::placeholder {
    color: #aaa; /* Color más claro para el texto del placeholder */
}


.video-container {
    overflow: hidden;
    position: relative;
    width: 60%;
	align-items: center;
	margin: auto;
}

.video-container iframe {
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    height: auto; /* Altura automática para mantener la proporción */
    aspect-ratio: 16 / 9; /* Mantiene la proporción de aspecto 16:9 */
}

.callout {
    background-color: #f9f9f9; /* Color de fondo claro */
    border-left: 5px solid #0077cc; /* Barra azul para destacar */
    padding: 20px; /* Espacio interior */
    margin: 20px 0; /* Margen arriba y abajo */
    font-weight: bold; /* Negrita para hacerlo resaltar */
    text-align: center; /* Alineación centrada */
    font-size: 1.2em; /* Tamaño de fuente mayor */
    text-transform: uppercase; /* Texto en mayúsculas */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra para efecto de elevación */
    display: block; /* Usar block para permitir el margin automático */
    width: 80%; /* Controlar el ancho */
    max-width: 800px; /* Ancho máximo */
    margin-left: auto; /* Margen automático izquierda */
    margin-right: auto; /* Margen automático derecha */
}
